* {
    padding:0;
    margin:0;
    vertical-align: baseline;
    list-style: none;
    border:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}
header{
    position: absolute;
    padding: 30px 400px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,.05);
}
header .header-container .login{
    color: #1773FA;
    border: .5px solid #1773FA;
    border-radius: 50px;
    padding: 12px 26px;
}
header .header-container .login:hover{
    box-shadow:
            0 0 2px #1773FA,
            0 0 167px -96px #1773FA;
}
header .header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container ul li{
    margin-left: 30px;
}
.header-container ul li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.header-container ul li a:hover{
    color: #1773FA;
}

 /* SECTION PRESENTATION */

.presentation{
    position: relative;
    padding: 0 400px;
    margin-top: 88px;
    width: 100%;
    display: flex;
    box-shadow: 0 2px 6px rgba(0,0,0,.05);
}

.presentation .presentation-container{
    width: 100%;
}

.presentation .presentation-container .presentation-left{
    width: 450px;
    margin-top: 100px;
}

.presentation .presentation-container .presentation-left h1 {
    font-size: 54px;
    margin-bottom: 10px;
}
.presentation .presentation-container .presentation-left h2{
    font-size: 18px;
    color: grey;
    font-weight: 400;
    margin-bottom: 30px;
}
.presentation .presentation-container .presentation-left h3{
    font-size: 14px;
    color: grey;
    font-weight: 400;
    margin-top: 40px;
}
.presentation .presentation-container .presentation-left a {
    text-decoration: none;
    color: white;
    background-color: #1773FA;
    padding: 12px 26px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px darkgray;
}
.presentation .right-image{
    margin-left: 58px;
}

.presentation-image{
    width: 1000px;
}

.footer-presentation{
    margin-top: 666px;
    font-size: 24px;
    left: 0;
    padding: 60px 400px;
    width: 100%;
    position: absolute;
    background-color: #f3faff;
    text-align: center;
}
.footer-presentation h2{
    font-weight: 400;
}
.footer-presentation h2 a{
    font-weight: 400;
    color: #1773FA;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.presentation .logo{
    width: 380px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* SECTION PRATICE */

.pratice{
    position: relative;
    padding: 30px 400px;
    top: 0;
    left: 0;
    margin-top: 162px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pratice .pratice-container{
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-top: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
    padding: 30px 90px;
}

.pratice .pratice-container .main-left{
    margin-top: 35px;
}

.pratice .pratice-container #text-p-pratice p{
    width: 70%;
    font-size: 18px;
}

.pratice .pratice-container .right-avatar{
    margin-left: 5px;
}

.pratice .pratice-container .check-list{
    margin-top: 24px;
    color: grey;
    font-size: 18px;
}

.pratice .pratice-container .check-list #check{
    margin-right: 20px;
}

.pratice .pratice-container .check-list-item{
    margin-bottom: 5px;
}

.pratice .pratice-container h2{
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 24px;
}

.pratice .pratice-container p{
    font-size: 16px;
    color: grey;
    font-weight: 400;
}

/* SECTION MENTORIA */

.mentoria{
    position: relative;
    padding: 0 400px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mentoria .mentoria-container{
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-top: 5px;
    padding: 30px 90px;
}

.mentoria .mentoria-container .main-right{
    margin-left: 120px   ;
}

.mentoria .mentoria-container #text-p-mentoria p{
    width: 70%;
    font-size: 18px;
    color: grey;
}

.mentoria .mentoria-container .left-avatar{
    margin-left: 5px;
}

.mentoria .mentoria-container .check-list{
    margin-top: 24px;
}

.mentoria .mentoria-container .check-list #check{
    margin-right: 20px;
}

.mentoria .mentoria-container .check-list-item{
    margin-bottom: 5px;
    color: grey;
    font-size: 18px;
}

.mentoria .mentoria-container h2{
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 24px;
}


/* SECTION SUPPORT */

.support{
    position: relative;
    padding: 30px 400px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9FAFC;
}

.support .support-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 30px 90px;
    background-color: #F9FAFC;
}

.support .support-container .main-left-support  {
    margin-top: 50px;
}

.support .support-container #text-support p{
    width: 70%;
    font-size: 18px;
}

.support .support-container .right-avatar{
    margin-left: 5px;
}

.support .support-container .check-list{
    margin-top: 24px;
    border: 2px solid black;
}

.support .support-container .check-list #check{
    margin-right: 20px;
}

.support .support-container .check-list-item{
    margin-bottom: 5px;
}

.support .support-container h2{
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 24px;
}

.support .support-container p{
    font-size: 16px;
    color: grey;
    font-weight: 400;
}


